#threatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#threatContainer>#threatView {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
}

#threatContainer>#threatButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  grid-gap: 25px;
}

#threatContainer>#threatButtons>button {
  font-size: 1.5em;
  font-weight: 600;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid transparent;
  box-shadow: 10px 10px 0 var(--shadow-color);
}

#threatContainer>#threatButtons>button:hover {
  box-shadow: 8px 8px 0 var(--shadow-color);
  transform: translate(2px, 2px);
}

#threatContainer>#threatButtons>button:active {
  box-shadow: 0 0 0 var(--shadow-color);
  transform: translate(10px, 10px);
}

#threatContainer>#threatButtons>button#acceptThreat {
  background-color: var(--red-1);
  color: var(--white-1);
}

#threatContainer>#threatButtons>button#acceptThreat:hover {
  background-color: var(--red-2);
}

#threatContainer>#threatButtons>button#acceptThreat:active {
  color: var(--red-1);
  background-color: transparent;
}

#threatContainer>#threatButtons>button#declineThreat {
  border: 2px solid var(--red-1);
  color: var(--red-1);
  background-color: transparent;
}

#threatContainer>#threatButtons>button#declineThreat:hover {
  border: 2px solid var(--red-2);
  color: var(--red-2);
}

#threatContainer>#threatButtons>button#declineThreat:active {
  border-color: transparent;
}

#threatContainer>#threatView>#loading {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#threatContainer>#threatView>#loading::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  border: 10px solid transparent;
  border-bottom: 10px solid var(--red-1);
  animation: loading 1s ease infinite;
}

#threatContainer>#threatView>#loading::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  border: 10px solid transparent;
  border-left: 10px solid var(--red-2);
  animation: loading 1s linear infinite;
}


@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}